*{

}

body{
  margin: 0 0 0 0;
  position: relative;
  top:0px;
}

header{
  background-color: gray;
  height: 60px;
  width: 100%;
  position: fixed;
}

main{
  height: 80%;
}

button{

}

.leftleft{
  float: left;
  width:1%;
  margin-top: 60px;
  height: 100%;
}

.left{
  background-color: lightgray;
  float: left;
  width:85%;
  margin-top: 60px;
  position: relative;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100%;
}

.right{
  float: left;
  width:14%;
  height: 100%;
  position: relative;
  margin-top: 60px;
}

.in{
  font-size: 16px;
  padding: 15px 32px;
}

.btn {
  background-color: #555555; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#menu{
  background-color: lightgray;
  padding: 5px 5px 5px 5px;
  height: 400px;
}

footer{
  background-color: lightgray;
  height: 15%;
  width: 100%;
  margin-bottom: 0px;
  position: fixed;
}
